graphs/

build/

cmake*/

.DS_Store

a.txt

latex/

out/

PythonShell/

sort*

graph*

*.py

.vscode/

.idea/

*.sh

!main_run.sh

*.hyp

*.txt

/datasets/*

!coauth-MAG-History-full.hyp

!CMakeLists.txt
!License.txt